* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: #e3edf7;
}
h1 {
  font-size: 25px;
  letter-spacing: 4px;
  padding: 200px 0 100px;
  color: #555;
  text-align: center;
}
.social-media {
  display: flex;
  justify-content: center;
  a {
    display: flex;
    background: #ddd;
    height: 75px;
    width: 75px;
    margin: 0 15px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }
}
